body {
    box-sizing: border-box;
    background-color: rebeccapurple;
}

nav {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-around;
    margin: 1rem 10rem;
}

#content {
    text-align: center;
    background-color: aqua;
    border-radius: 1rem;
    padding-bottom: 10rem;
    padding-top: 1rem;
    margin: 1rem;
}